<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizcastapp.quizcast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="17" android:maxSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SelectQuizActivity"
            android:label="@string/title_activity_select_quiz"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:label="@string/search_for_quiz"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".PlayQuiz"
            android:label="@string/title_activity_play_quiz_master"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowseQuizzes"
            android:label="@string/title_activity_browse_quizzes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LobbyActivity"
            android:label="@string/title_activity_lobby"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectQuizTypeActivity"
            android:label="@string/title_activity_select_quiz_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizMasterLobbyActivity"
            android:label="@string/title_activity_quiz_master_lobby"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizMasterGameActivity"
            android:label="@string/title_activity_quiz_master_game"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
